<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J&M Angeln - Warenkorb</title>
    <% include includes/styles %>
    <link rel="stylesheet" href="/styles/cart.css">

</head>
<body>
    <% include includes/navigation %>
    <main>
    <% if (cart) { %>
        <% cart.forEach((product, index) => { %>
            <div class="product">
                <img src="/images/test.jpg" alt="Produktbild">
                <div class="product__info">
                    <h1><%= product.data.name %></h1>
                </div>
                <div class="product__action">
                    <div class="quantity">
                        <h2 class="quantity__display">
                            <div>Menge</div>
                            <div><%= product.quantity %></div>
                        </h2>
                        <div class="quantity__modifier" data-index="<%= index %>">
                            <div class="plus">+</div>
                            <div class="minus">-</div>
                        </div>
                    </div>
                </div>
                <p class="product__price">
                    <%= (product.data.price).toFixed(2) %> €
                </p>
            </div>
        <% }); %>
    <% } %>

    <div class="info">
        <h1>Anzahl Gegenstände: <span id="quantity"><%= quantity %></span></h1>
        <h1>Gesamtwert: <span id="total"><%= total.toFixed(2) %> €</span></h1>
    </div>

    <script src="/scripts/ui.js"></script>

</body>
</html>