<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J&M Angeln - Warenkorb</title>
    <% include includes/styles %>
    <link rel="stylesheet" href="/styles/cart.css">

</head>
<body>
    <% include includes/navigation %>
    <% if (cart) { %>
        <h1>Under Construction</h1>
        <!-- <ul>
            <% for (const product of cart) { %>
                <li class="item">
                    <div class="item__details">
                        <img src="/images/test.jpg" alt="Produktbild">
                        <h1><%= product.data.name %></h1>
                        <p><%= product.data.description %></p>
                    </div>
                    <div class="item__actions">

                    </div>
                    <img src="https://Placehold.it/500x250" alt="Produktbild">
                    <div class="product__details">
                        <h1><%= product.data.name %></h1>
                        <p><%= product.data.description %></p>
                    </div>
                    <div>
                        <span>Einzelpreis</span>
                        <span><%= (product.data.price).toFixed(2) %> €</span>
                    </div>
                    <div>
                        <span>Menge</span>
                        <span><%= product.quantity %></span>
                    </div>
                    <div>
                        <span>Größe</span>
                        <span><%= product.size %></span>
                    </div>
                    
                </li>
            <% } %>
        </ul> -->
        <div class="info">
            <h1>Anzahl Gegenstände: <%= quantity %></h1>
            <h1>Gesamtwert: <%= total.toFixed(2) %> €</h1>
            <button class="delete">Warenkorb leeren</button>
        </div>
    <% } %>

    <script src="/scripts/ui.js"></script>

</body>
</html>