<!DOCTYPE html>
<html lang="de">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J&M Angeln - Merch</title>

    <% include includes/styles %>

    <link rel="stylesheet" href="/styles/slideshow.css">
    <link rel="stylesheet" href="/styles/cards.css">
    <link rel="stylesheet" href="/styles/merch.css">
    <link rel="preload" href="/scripts/lazy-load.mjs" as="script">

</head>
<body>
    
    <nav-bar></nav-bar>

    <div class="space"></div>

    <div class="path">
        Home
        <img src="../images/baseline-arrow_forward-24px.svg" alt="path">
        Merch
    </div>

    <main>

        <section class="slider">
            <div class="slide current">
            <div class="slide__content">
                <h1>Slide One</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Numquam nobis corrupti porro ullam, magnam rerum.</p>
                </div>
            </div>
            <div class="slide">
                <div class="slide__content">
                    <h1>Slide Two</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Numquam nobis corrupti porro ullam, magnam rerum.</p>
                </div>
            </div>
        </section>
        <div class="dots">
            <div data-id="1" class="dot current"></div>
            <div data-id="2" class="dot"></div>
        </div>
        <section class="filter">
            <input id="search" type="text" id="search" name="search" placeholder="Suchen...">
            <div class="price__config">
                <div class="price__range">
                    <span>1 €</span>
                    <input id="price" type="range" name="price" min="1" max="50" value="50" step="1">
                    <span>50 €</span>
                </div>
                <p class="price__output">Alle Preise</p>
            </div>
            <div class="categories">
                <h3 class="active">Alle</h3>
                <h3>T-Shirts</h3>
                <h3>Hoodies</h3>
                <h3>Caps</h3>
            </div>
        </section>
        <section class="products">
            <% for (const product of products) { %>
                <div
                  class="product"
                  data-name="<%= product.name %>"
                  data-price="<%= (product.price).toFixed(2) %>"
                  data-category="<%= product.category %>"
                >
                  <!-- <img
                    class="product__image"
                    src="<%= product.image %>"
                    alt="Produktbild"
                  /> -->
                    <img
                    class="product__image"
                    src="/images/tshirt.png"
                    alt="Produktbild"
                  />
                  <div>
                    <div class="product__info">
                      <h1><%= product.name %></h1>
                    </div>
                    <div class="product__action">
                      <span class="price"><%= (product.price).toFixed(2) %> €</span>
                      <a href="/merch/produkt/<%= product._id %>">
                        Zum Produkt
                      </a>
                    </div>
                  </div>
                </div>
              <% } %>
        </section>
    </main>

    <% include includes/footer %>

    <cart-bar qty="<%= quantity %>"></cart-bar>
    <script defer src="/scripts/slideshow.js"></script>
    <script src="/components/nav-bar.js"></script>
    <script src="/components/cart-bar.js"></script>
    <script src="/scripts/product-filter.js"></script>

</body>
</html>