<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>J&M Angeln - <%= category %></title>
    <% include includes/styles %>
    <link rel="stylesheet" href="/styles/products.css"/>
  </head>
  <body>

    <% include includes/navigation %>

    <div class="path">
      Merch
      <img src="/images/baseline-arrow_forward-24px.svg" alt="path">
      <%= category %>
    </div>

    <section class="filter">
      <input id="search" type="text" id="search" name="search" placeholder="Suchen...">
        <div class="filter__price">
          <div class="price__config">
              <span>1 €</span>
              <input id="price" type="range" name="price" min="1" max="100" value="50" step="1">
              <span>99 €</span>
          </div>
          <p class="price__output">Alle Preise</p>
      </div>
      <div class="filter__rate">
        <% for (let i = 1; i <= 5; i++) { %>
          <img class="star" src="/images/star-regular.svg" alt="Stern" data-place="<%= i %>">
        <% } %>
      </div>
    </section>
    
    <section class="products">
      <% for (const product of products) { %>
        <div
          class="product"
          data-name="<%= product.name %>"
          data-price="<%= (product.price).toFixed(2) %>"
          data-rate="4.5"
        >
          <!-- <img
            class="product__image"
            src="<%= product.image %>"
            alt="Produktbild"
          /> -->
            <img
            class="product__image"
            src="/images/tshirt.png"
            alt="Produktbild"
          />
          <div>
            <div class="product__info">
              <h1><%= product.name %></h1>
            </div>
            <div class="product__action">
              <span class="price"><%= (product.price).toFixed(2) %> €</span>
              <div class="rating">
                <img src="/images/star-solid.svg">
                <span>4.5</span>
              </div>
              <a href="/merch/produkt/<%= product._id %>">
                Zum Produkt
              </a>
            </div>
          </div>
        </div>
      <% } %>
      <% for (const product of products) { %>
        <div
          class="product"
          data-name="<%= product.name %>"
          data-price="<%= (product.price).toFixed(2) %>"
          data-rate="4.5"
        >
          <!-- <img
            class="product__image"
            src="<%= product.image %>"
            alt="Produktbild"
          /> -->
            <img
            class="product__image"
            src="/images/tshirt.png"
            alt="Produktbild"
          />
          <div>
            <div class="product__info">
              <h1><%= product.name %></h1>
            </div>
            <div class="product__action">
              <span class="price"><%= (product.price).toFixed(2) %> €</span>
              <div class="rating">
                <img src="/images/star-solid.svg">
                <span>4.5</span>
              </div>
              <a href="/merch/produkt/<%= product._id %>">
                Zum Produkt
              </a>
            </div>
          </div>
        </div>
      <% } %>
      <% for (const product of products) { %>
        <div
          class="product"
          data-name="<%= product.name %>"
          data-price="<%= (product.price).toFixed(2) %>"
          data-rate="4.5"
        >
          <!-- <img
            class="product__image"
            src="<%= product.image %>"
            alt="Produktbild"
          /> -->
            <img
            class="product__image"
            src="/images/tshirt.png"
            alt="Produktbild"
          />
          <div>
            <div class="product__info">
              <h1><%= product.name %></h1>
            </div>
            <div class="product__action">
              <span class="price"><%= (product.price).toFixed(2) %> €</span>
              <div class="rating">
                <img src="/images/star-solid.svg">
                <span>4.5</span>
              </div>
              <a href="/merch/produkt/<%= product._id %>">
                Zum Produkt
              </a>
            </div>
          </div>
        </div>
      <% } %><% for (const product of products) { %>
        <div
          class="product"
          data-name="<%= product.name %>"
          data-price="<%= (product.price).toFixed(2) %>"
          data-rate="4.5"
        >
          <!-- <img
            class="product__image"
            src="<%= product.image %>"
            alt="Produktbild"
          /> -->
            <img
            class="product__image"
            src="/images/tshirt.png"
            alt="Produktbild"
          />
          <div>
            <div class="product__info">
              <h1><%= product.name %></h1>
            </div>
            <div class="product__action">
              <span class="price"><%= (product.price).toFixed(2) %> €</span>
              <div class="rating">
                <img src="/images/star-solid.svg">
                <span>4.5</span>
              </div>
              <a href="/merch/produkt/<%= product._id %>">
                Zum Produkt
              </a>
            </div>
          </div>
        </div>
      <% } %>
      <% for (const product of products) { %>
        <div
          class="product"
          data-name="<%= product.name %>"
          data-price="<%= (product.price).toFixed(2) %>"
          data-rate="4.5"
        >
          <!-- <img
            class="product__image"
            src="<%= product.image %>"
            alt="Produktbild"
          /> -->
            <img
            class="product__image"
            src="/images/tshirt.png"
            alt="Produktbild"
          />
          <div>
            <div class="product__info">
              <h1><%= product.name %></h1>
            </div>
            <div class="product__action">
              <span class="price"><%= (product.price).toFixed(2) %> €</span>
              <div class="rating">
                <img src="/images/star-solid.svg">
                <span>4.5</span>
              </div>
              <a href="/merch/produkt/<%= product._id %>">
                Zum Produkt
              </a>
            </div>
          </div>
        </div>
      <% } %>
      <% for (const product of products) { %>
        <div
          class="product"
          data-name="<%= product.name %>"
          data-price="<%= (product.price).toFixed(2) %>"
          data-rate="4.5"
        >
          <!-- <img
            class="product__image"
            src="<%= product.image %>"
            alt="Produktbild"
          /> -->
            <img
            class="product__image"
            src="/images/tshirt.png"
            alt="Produktbild"
          />
          <div>
            <div class="product__info">
              <h1><%= product.name %></h1>
            </div>
            <div class="product__action">
              <span class="price"><%= (product.price).toFixed(2) %> €</span>
              <div class="rating">
                <img src="/images/star-solid.svg">
                <span>4.5</span>
              </div>
              <a href="/merch/produkt/<%= product._id %>">
                Zum Produkt
              </a>
            </div>
          </div>
        </div>
      <% } %>
    </section>

    <footer>
      <h1>J&M Angeln&nbsp;2020</h1>
      <div class="legal">
          <a href="#">Datenschutzerklärung</a>
          <a href="#">Impressum</a>
      </div>
    </footer>

    <cart-bar qty="<%= quantity %>"></cart-bar>

    <script src="/scripts/ui.js"></script>
    <script src="/components/cart-bar.js"></script>
	<script>

		const products = Array.from(document.querySelectorAll('.product'));
    const filterSection = document.querySelector('.filter');
    const starContainer = document.querySelector('.filter__rate');
    const searchbar = document.querySelector('#search');
    const priceFilter = document.querySelector('#price');
    const priceOutput = document.querySelector('.price__output');
    let stars = Array.from(document.querySelectorAll('.star'));

		let searchTerm = '';
		let maxPrice = 99;
		let minRate = 0;
    let selected = false;
    
		function filter() {
			for (const product of products) {
        let { name, price, rate } = product.dataset;
        console.table(price, maxPrice, rate, minRate);
				[price, maxPrice] = [price, maxPrice].map(value => parseFloat(value));
				[name, searchTerm] = [name, searchTerm].map(str => str.toLowerCase());
        (name.includes(searchTerm) && price <= maxPrice && rate >= minRate) ?
          product.style.display = 'block' : product.style.display = 'none';
			}
    }

		searchbar.addEventListener('keyup', function({ key }) {
			searchTerm = this.value;
			filter();
		});

		priceFilter.addEventListener('input', function(e) {
			maxPrice = this.value;
			priceOutput.textContent = `max. ${maxPrice} €`;
			filter();
		});

		for (const star of stars) {

			star.addEventListener('mouseover', function() {
        const { place: thisPlace } = star.dataset;
        stars = stars.map(star => {
          star.dataset.place <= thisPlace
            ? star.src = '/images/star-solid.svg'
            : star.src = '/images/star-regular.svg';
          return star;
        });
			});

			star.addEventListener('click', function() {
				minRate = this.dataset.place;
				selected = true;
				filter();
			});

		}

		starContainer.addEventListener('mouseout', function() {
			if (!selected) {
				stars.map(star => {
					star.src = '/images/star-regular.svg';
					return star;
				}).forEach((star, index) => {
					if (index < minRate) {
						star.src = '/images/star-solid.svg';
					}
				});
			} else {
				selected = false;
			}
		});

    </script>

  </body>
</html>
