<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J&M Angeln - Produkte bearbeiten</title>
    <% include includes/styles %>
    <style>
        .btn {
            width: 200px;
            margin: 10px 0 20px;
        }
        main {
            height: 100vh;
            width: 100%;
            margin: auto;
            padding-top: 60px;
            /* overflow: scroll; */
        }
        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            column-gap: 20px;
            padding: 10px;
        }
        .product {
            height: auto;
            width: auto;
            padding: 20px;
        }
        h3 {
            margin: 0;
        }
        fieldset {
            border: none;
        }
        .field {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        input {
            font-family: 'Maven Pro', sans-serif;
            padding: 10px;
            font-size: 16px;
            border-radius: 8px;
            border: 1px solid black;
        }
        .log-out.btn {
            position: absolute;
            top: 0;
            right: 1rem;
        }
        .flex-row {
            margin: 16px;
        }
        .flex-row > * {
            width: 100%;
        }
    </style>

</head>
<body>

    <main class="centered">
        <section class="products">
            <% for (const product of products) { %>
                <form action="/api/product/update/<%= product._id %>" method="POST" class="product">
                    <h1><%= product.name %></h1>
                    <div class="flex-row">
                        <h3>Preis</h3>
                        <input type="number" name="price" id="price" step="0.01" value="<%= product.price.toFixed(2) %>">
                    </div>
                    <h3>Größen</h3>
                    <hr>
                    <div class="flex-row">
                        <fieldset>

                            <% if (typeof product.stock === 'object') { %>

                                <% for (const size of Object.keys(product.stock)) { %>
                                    <div class="field">
                                        <label for="<%= size %>"><%= size %></label>
                                        <select name="stock" id="<%= size %>">
                                            <% for (let i = 0; i <= 99; i++) { %>
                                                <% if (i === parseInt(product.stock[size])) { %>
                                                    <option selected value="<%= size %>-<%= i %>"><%= i %> Stück</option>
                                                <% } else { %>
                                                    <option value="<%= size %>-<%= i %>"><%= i %> Stück</option>
                                                <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                <% } %>

                            <% } else if (typeof product.stock === 'number') { %>

                                <div class="field">
                                    <select name="stock">
                                        <% for (let i = 0; i <= 99; i++) { %>
                                            <% if (i === parseInt(product.stock)) { %>
                                                <option selected value="<%= i %>"><%= i %> Stück</option>
                                            <% } else { %>
                                                <option value="<%= i %>"><%= i %> Stück</option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                           <% } %>

                        </fieldset>
                    </div>
                    <h3>Farben</h3>
                    <hr>
                    <div class="flex-row">
                        <fieldset>
                            <div class="field">
                                <input type="checkbox" id="Grün" name="colors" value="Grün"
                                    class="<%= product.colors.includes('Grün') ? 'checked' : '' %>">
                                <label for="XS" >Grün</label>
                            </div>
                            <div class="field">
                                <input type="checkbox" id="Pink" name="colors" value="Pink"
                                    class="<%= product.colors.includes('Pink') ? 'checked' : '' %>">
                                <label for="S" >Pink</label>
                            </div>
                        </fieldset>
                    </div>
                    <button class="btn" type="submit">Aktualisieren</button>
                </form>
            <% } %>
        </section>
    </main>

    <button class="dark log-out btn">Ausloggen</button>

    <script>
        document.querySelectorAll('.checked').forEach(checkbox => checkbox.checked = true);
        document.querySelectorAll('.selected').forEach(option => option.selected = true);
        document.querySelector('.log-out.btn').addEventListener('click', async function() {
            await fetch('/admin/logout');
            window.location.reload();
        });
        function setQuantityForSize(quantity, size) {
            console.log(quantity, size);
            // fetch('/api/product/update/stock', {
            //     method: 'POST',
            //     headers: { 'Content-Type': 'application/json' },
            //     body: quantity
            // }).then(response => response.json()).then(json => console.log(json));
           
        }
    </script>

</body>
</html>