<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J&M Angeln - <%= product.name %></title>
    <% include includes/styles %>
    <link rel="stylesheet" href="/styles/product.css">
    <script defer src="/scripts/image-modal.js"></script>

</head>
<body>
        
    <% include includes/navigation %>

    <main>

        <section class="product">
            <div class="product__left">
                <img class="image__primary" src="/images/merch_many.jpg" alt="Produktbild">
                <div class="gallery">
                    <img class="active" src="/images/merch_many.jpg" alt="Galeriebild">
                    <img src="/images/jonas.jpg" alt="Galeriebild">
                    <img src="/images/merch_muetze.jpg" alt="Galeriebild">
                </div>
            </div>
            <div class="product__right">
                <h1 class="name"><%= product.name %></h1>
                <summary>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque perferendis hic quod in! Quibusdam laborum culpa nihil est eaque porro perspiciatis, optio inventore at quasi sapiente deserunt earum nemo deleniti aliquid voluptates omnis? Eligendi at vero nemo veritatis, illum explicabo repudiandae perspiciatis quae ratione enim, quos, minus voluptatum incidunt ea?</summary>
                <div class="product__details">
                    <div class="details__info">
                        <strong>Lieferzeitraum</strong>
                        <p>bis zu 10 Werktagen.</p>
                        <strong>Anmerkung</strong>
                        <p>Lieferung nur innerhalb Deutschlands</p>
                    </div>
                    <div class="details__price">
                        <h1><%= (product.price).toFixed(2).toString().replace('.', ',') %> €</h1>
                    </div>
                </div>
                <form method="POST" action="/merch/cart" class="product__action">
                    <input type="hidden" name="productID" value="<%= product._id %>">
                    <div class="selects">
                        <select name="quantity" id="quantity" required>
                            <option value="1" selected>1 Stück</option>
                            <% for (let i = 2; i < 10; i++) { %>
                                <option value="<%= i %>"><%= i %> Stück</option>
                            <% } %>
                        </select>
                        <% if (product.sizes.length > 0) { %>
                            <select name="size" id="size" required>
                            <% for (const size of product.sizes) { %>
                                <option value="<%= size %>">Größe <%= size %></option>
                            <% } %>
                            </select>
                        <% } %>
                        <% if (product.colors.length > 0) { %>
                            <select name="color" id="color" required>
                            <% for (const color of product.colors) { %>
                                <option value="<%= color %>"><%= color %></option>
                            <% } %>
                            </select>
                        <% } %>
                    </div>
                    <button type="submit" class="btn">Hinzufügen</button>
                </form>
            </div>
        </section>

        <div id="modal" class="modal">
            <div class="close">&#10006;</div>
            <img class="modal-content" id="modalImg">
        </div>

    </main>

    <script>
        const primaryImage = document.querySelector('.image__primary');
        const images = Array.from(document.querySelectorAll('.gallery img'));
        for (const image of images) {
            image.addEventListener('click', function() {
                if (!this.classList.contains('active')) {
                    this.classList.add('active');
                    images.filter(img => img !== this)
                        .forEach(img => img.classList.remove('active'));
                }
                primaryImage.src = this.src;
            });
        }
    </script>

</body>
</html>